/**
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Oswald:400,500,700&display=swap');

html {
  background-color: #282c34;
  overflow-y: auto;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #282c34;
  background: url(./images/blueprint.jpg) repeat;
  background-size: 200vh;
  /* background: url(./images/header-bg.jpg) repeat; */
  min-height: 100vh;
  padding: 20px;
}

body #root {
  min-height: 100%;
  font-size: 14px;
}

body #root h1,
body #root h2,
body #root h3,
body #root h4,
body #root h5,
body #root h6 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

body #root h1 {
  font-size: 35px;
  margin: 10px 0;
}

body #root h2 {
  font-size: 20px;
  margin: 10px 0;
}

body #root h3 {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

body #root .col2 h3 {
  text-align: left;
}

body #root h4 {
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-weight: bold;
}

.columns .column>div:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info .box>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px
}

.contact-info .box>div .icon {
  margin-right: 10px;
}

.cuote {
  font-size: 16px;
  font-style: italic;
}

.cuote_ref {
  font-size: 13px;
  text-align: right;
}